# .env
__pycache__/
.ipynb_checkpoints/
.pre-commit-config.yaml
.cache
internal_docs.md
tree.csv

# dbt artifacts
dbt_packages/
dbt_internal_packages/
target/
logs/

# local environments
.env
.venv/

snowflake.env
